body {
    /* height: 100vh; */
    margin: 0;
}

/* Upper section */

.header {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 70%;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.secundary,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.header .content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    gap: 32px;
}

.header .content .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882F6;
    border: 0;
    color: #E5E7EB;
    font-weight: bold;
}

.header .content img {
    width: 50%;
    flex-grow: 1;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
}

/* Mid section */

.mid {
    display: flex;
    justify-content: center;
    padding: 32px;
    height: 400px;
}

.mid .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
}

.deck {
    display: flex;
    gap:52px;
    padding: 32px;
    text-align: center;
    justify-content: center;
}

.card {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    border: 3px solid #3882F6;
    border-radius: 8px;
}